.li {
  position: relative;
}

.spotLi {
  position: relative;

  padding-left: 1rem;
}

.spotLi::before {
  position: absolute;
  content: '';
  left: 0;
  top: 30%;

  width: 6px;
  height: 6px;
  background-image: url('../../../../assets/images/spot.svg');
}
