.container {
  display: flex;
  align-items: flex-end;

  gap: 0.5rem;
}

@media screen and (max-width: 400px) {
  .container {
    align-items: flex-start;
  }
}

.wrapper {
  padding-bottom: 2rem;
}
