.videoContainer {
  display: flex;
  gap: 1rem;
}

.video {
  width: 9rem;
}

@media screen and (max-width: 660px) {
  .videoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .video {
    width: 100%;
  }
}
