.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 1rem 2rem;
}

.name {
  font-family: 'Pretendard';
  font-size: 2rem;
  font-weight: 700;
}

.hgroup {
  display: flex;
  align-items: flex-end;

  gap: 1rem;
}

.followMe {
  display: flex;

  align-items: flex-end;
  gap: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;

  margin-top: 1rem;

  gap: 1rem;
}

.p {
  text-align: end;
}

@media screen and (max-width: 600px) {
  .layout {
    flex-direction: column;
    justify-content: center;

    gap: 4rem;
  }

  .buttonGroup {
    justify-content: flex-start;
  }

  .p {
    text-align: start;
  }
}
