name: frontend-develop-pull-request

on:
  pull_request:
    branches: [develop]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Git 리포지토리 체크아웃
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. AWS 인증 설정
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # 3. 브랜치 이름 변환 (feature/#123 -> feature123)
      - name: Extract and format branch name
        run: |
          echo "VITE_BRANCH_NAME=$(echo '${{ github.head_ref }}' | sed 's#[/#]##g')" >> $GITHUB_ENV

      # 3. 브랜치 이름 출력 (feature123)
      - name: Print branch name
        run: |
          echo "Branch Name: $VITE_BRANCH_NAME"
